*.o
libft.h.gch
a.out
.DS_Store
settings.json
extensions.json
.vscode/
.ignore
*.a
.DS_Store
settings.json
extensions.json
.vscode/
test.txt
./tester
tester/tester.sh
push_swap
checker
.gitignore
checker_Mac
libft/ft_strmapi-76c7b024.o.tmp
